codecov
cov-core #nose2 coverage
coverage
futures
nose #pycharm cant currently run nose2
nose2
nose-cov
nose-html-reporting
numpy
pandas
pylint
python-coveralls
pytz
requests
scipy
snakefood
tabulate
twine