codecov==2.0.9
cov-core==1.15.0 #nose2 coverage, not in conda, pip install
coverage
futures
nose #pycharm cant currently run nose2
nose2 #not in conda, pip install
nose-cov #not in conda, pip install
nose-html-reporting #not in conda, pip install
numpy
pandas
pylint
python-coveralls #not in conda, pip install
pytz
requests
scipy
snakefood #not in conda, pip install
sqlalchemy
sqlalchemy_utils
tabulate
twine #not in conda, pip install